altgraph==0.17.5
contourpy
cycler==0.12.1
fonttools
kiwisolver
matplotlib
numpy
packaging==26.0
pillow
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil==2.9.0.post0
setuptools
six==1.17.0
